02_SchemaAnnotation/SchemasUtilisésEnCours/direct-subjective.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="direct-subjective">
    <complexType>
          <attribute name="annotation-uncertain" default="somewhat-uncertain">
            <simpleType>
              <restriction base="string">
                <enumeration value="somewhat-uncertain" />
                <enumeration value="very-uncertain" />
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="nested-source" type="kind"/>
          <attribute name="implicit" default="true">
            <simpleType>
              <restriction base="string">
                <enumeration value="true" />
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="subjective-uncertain" default="somewhat-uncertain">
            <simpleType>
              <restriction base="string">
                <enumeration value="somewhat-uncertain" />
                <enumeration value="very-uncertain" />
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="intensity" default="neutral">
            <simpleType>
              <restriction base="string">
                <enumeration value="low" />
                <enumeration value="medium" />
                <enumeration value="high" />
                <enumeration value="extreme" />
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="expression-intensity" default="neutral">
            <simpleType>
              <restriction base="string">
                <enumeration value="neutral" />
                <enumeration value="low" />
                <enumeration value="medium" />
                <enumeration value="high" />
                <enumeration value="extreme" />
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="attitude-link" type="kind" />
          <attribute name="insubstantial" type="kind" />
          <attribute name="polarity" default="negative">
           <simpleType>
             <restriction> base="string">
               <enumeration value="positive" />
               <enumeration value="negative" />
               <enumeration value="both" />
               <enumeration value="neutral" />
               <enumeration value="uncertain-positive" />
               <enumeration value="uncertain-negative" />
               <enumeration value="uncertain-neutral" />
               <enumeration value="uncertain-both" />
              </restriction>
            </simpleType>
          </attribute>
    </complexType>
  </element>
</schema>

